body{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: #f8faff;
    background-color: black;
    background-image: url(media/galeriahatter.jpg);
}
.cim{
    height: 300px;
    margin: 0px;
    font-size: 60px;
    font-weight: bold;
    text-shadow: 10px 10px 5px black;
    text-align: center;
}
 
 
/*kepek eleje*/
.kepdiv{
    display: flex;
    border: 5px solid #f8faff;
    border-radius: 50px;
    width: 500px;
    float: left;
    height: 700px;
    
    margin-bottom: 200px;
    box-shadow: 10px 10px 12px black;
    transition: transform .2s;
}
.kep{
    border-radius: 50px;
    width: 500px;
    object-fit: cover;
    
}
.kepdiv:hover{
    transform: scale(1.05);
}
/*kepek vege*/
 
 
 
/*header eleje*/
header{
    width: 100%;
    background-color: #0A1730;
    height: 100px;
    margin: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#logo{
    width: 150px;
    margin-right:35px ;
    transition: .5s;
}
#headercim{
    margin-left:35px ;
}
.headerlink{
    font-size: 20px;
}
#logo:hover{
    transform: scale(1.12);
}
a{
    transition: .2s;
}
a:hover{
    transform: scale(1.1); 
}
a{
    text-decoration: none;
    color: #f8faff;
}
hr{
    margin: 0px;
    height: 5px;
    background-color: #f8faff;
}
 
/*header vege*/
 
 
 
/*footer elje*/
footer{
    height: 100px;
    width: 100%;
    background-color: #0D1F3F;
    display: flex;
    justify-content: space-between;
}
.footer1{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 20px;
}
.footer2{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.footer3{
    display: flex;
    flex-direction: column;
    text-align: right;
    margin-right: 20px;
}
.footerszoveg{
    margin: 0px;
    margin-top: 11px;
}
.betu{
    font-weight: bold;
}
 
 
 
/*footer vege*/
.sor{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap:  5.08%;
}
